* { margin: 0; padding: 0; }
html { overflow-y: scroll; }

body { 
	text-align:center;
}

#body-container {
    width: 500px; margin: 40px auto 5px; background: #91c7ff; 
    padding: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background: -moz-linear-gradient(top,  #eee,  #ccc);
    border-style: double;
}

#main-content { padding: 14px; }

li {
    display: inline;
    margin: 0 7px 3px 7px;
}
ul {
    font-size: 15px;
    color: #000000;
    font-family: "Neuton", serif;
    font-weight: 400;
    margin-left: 0px;
    padding-left: 20px;
}

